<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mvc.web.board.repository.BulletinMapper">

    <!-- 게시글 등록하기 -->
    <insert id="insertArticle">
        INSERT INTO bulletin (board_no, writer, title, content, post_time)
        VALUES(seq_board.nextval, #{writer}, #{title}, #{content}, sysdate)
    </insert>


<!--    &lt;!&ndash; 게시글 삭제하기 &ndash;&gt;-->
<!--    <delete id="deleteArticle">-->
<!--        DELETE FROM board-->
<!--        WHERE board_no = #{boardNum}-->
<!--    </delete>-->

<!--    <resultMap id="boardMap" type="com.spring.mvc.web.board.domain.Board">-->
<!--        <result property="boardNum" column="board_no" />-->
<!--        <result property="viewCnt" column="view_cnt" />-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; 게시글 전체 보기 &ndash;&gt;-->
<!--    <select id="getArticles" resultMap="boardMap">-->
<!--        SELECT * FROM board-->
<!--    </select>-->

<!--    &lt;!&ndash; 게시글 내용 보기&ndash;&gt;-->
<!--    <select id="getArticleContent" resultMap="boardMap">-->
<!--        SELECT * FROM board-->
<!--        WHERE board_no = #{boardNum}-->
<!--    </select>-->

<!--    &lt;!&ndash; 게시글 수정 &ndash;&gt;-->
<!--    <update id="modifyArticle">-->
<!--        UPDATE board-->
<!--        SET writer = #{writer}, title = #{title}, content = #{content}-->
<!--        WHERE board_no = #{boardNum}-->
<!--    </update>-->

<!--    &lt;!&ndash; 조회 수 증가 &ndash;&gt;-->
<!--    <update id="viewCntUp">-->
<!--        UPDATE board-->
<!--        SET view_cnt = view_cnt + 1-->
<!--        WHERE board_no = #{boardNum}-->
<!--    </update>-->

<!--    &lt;!&ndash; 총 게시글 수 조회 &ndash;&gt;-->
<!--    <select id="getCount" resultType="int">-->
<!--        SELECT COUNT(*) FROM board-->
<!--    </select>-->

</mapper>